body {
  font-family: system-ui;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
