#top_anime_conteiner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  color: #fff;
}

.a {
  display: flex;
  color: #fff;
  gap: 20px;
  border-radius: 1rem;
  padding: .5rem;
  background-color: #000;
  align-items: center;
}

#contenedor_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#contenedor_info>p {
  color: #00eeff;
}


/*
display: flex;
    flex-direction: column;
    justify-content: space-between;
*/

.cover_small {
  width: 4rem;
}